@charset "utf-8";
/* Sass Document */

@import "compass";

@mixin ani($property...){
	@include transition-property($property);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
}

@mixin bs($size, $a) {
	$size : $size - 7px;
	@include box-shadow( 0px -7px 0px $size rgba(0,0,0,$a) inset);
}

@mixin doc{
	/*フレキシブルボックス 中央配置*/
	@include display-flex();
	@include align-items(center); 
	@include justify-content(center); 
	@include justify-content(space-between);
	/*角丸*/
	@include border-radius(5px);
	/*ボックス影*/
	@include box-shadow(0px -7px 0px -2px #C5C5C5 inset);
	/*透明度*/
	@include opacity(0.6);
	/*回転*/
	@include rotate(45deg);
	
	width: percentage(580/1200);
}

@mixin lastmargin {
	& > *:last-child,
	& > *:last-child > *:last-child,
	& > *:last-child > *:last-child > *:last-child {
	  margin-bottom: 0;
	}
}

/*フレキシブルボックス 中央配置*/
// min-width
$breakpoint-up: (
	'sm': 'screen and (min-width: 400px)',
	'md': 'screen and (min-width: 768px)',
	'lg': 'screen and (min-width: 1000px)',
	'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
	'sm': 'screen and (max-width: 399px)',
	'md': 'screen and (max-width: 767px)',
	'lg': 'screen and (max-width: 999px)',
	'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoint-up, $breakpoint)} {
		@content;
	}
}

@mixin mq-max($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}

/***************************************************
* sass z-indexの管理
* 要素を並べた順番でz-indexの階層を管理

.header {
	z-index: z(header);
}
.modal {
	z-index: z(modal);
}
***************************************************/

$z-map: (
	header, nav, modal
);

@function z($name) {
	@return index($z-map, $name);
}

/***************************************************
* css、imgなど後ろに乱数をつけキャッシュ読み込みを避ける方法
* - キャッシュバスター

.kv {
	background-image: url(cache-buster("/assets/images/kv.png"));
}
***************************************************/

@function cache-buster($path) {
	@return #{$path + "?" + unique_id()};
}