@charset "utf-8";
/* Sass Document */

/**************************
** ヘッダー
*/

header {
	margin: 0 0 20px;
	padding: 0 20px;
	background: #0FBA8F;
}

.header {
	margin: 0 auto;
	padding: 10px 0;
	width: 980px;
	
	&__h1 {
		color: #fff;
	}
}

@media screen and (max-width: 768px) {
header {
	margin: 0;
	padding: 0 15px;
}

.header {
	margin: 0 auto;
	padding: 10px 0;
	width: auto;
}
}
