@charset "utf-8";
/* Sass Document */

/**************************
** ヘッダー
*/

header {
	margin: 0;
	padding: 0 15px;
	background: #0FBA8F;
	
	@include mq(md){
		margin: 0 0 20px;
		padding: 0 20px;
	}
}

.header {
	margin: 0 auto;
	padding: 10px 0;
	max-width: 980px;
	
	&__h1 {
		color: #fff;
	}
}
