@charset "utf-8";
/* Sass Document */

/**************************
** サイトカラー設定
*/
$yellow: #FFDC35; /* メインカラー */
$green: #34AA5C; /* サブカラー */
$red: #D90000;

/**************************
** フォント設定
*/
$mfc: #000; /* メインフォントカラー */
$mfs: 18; /* メインフォントサイズ */
$mlh: 1.8; /* 行間 */
$mls: .05em; /* 字間 */

/**************************
** リンク
*/
$mlc: #248FE1; /* メインリンクカラー */
$mhc: #D90000; /* メインホバーカラー */

/**************************
** コンテンツ幅
*/
$min_viewport : 320;
$max_viewport : 1200;

@import "compass";

@import "base/function";
@import "base/reset";
@import "base/common";
@import "base/font";

@import "icon";

@import "module/blog";
@import "module/form";

@import "header";
@import "topicpath";
@import "footer";

@import "top";

body {
}


/**************************
** titleBox
*/

.titleBox {
	margin: 0 auto;
	padding: 0 15px 15px;
	
	@include mq(md){
		margin-bottom: 40px;
		padding: 0 0 30px;
		width: 980px;
		border-bottom: 2px solid #EEEEEE;
	}
	
	&__cat {
		display: inline-block;
		margin: 0 0 5px;
		padding: 4px 8px;
		line-height: 1;
		vertical-align: middle;
		color: #FFF;
		font-weight: bold;
		border-radius: 5px;
		
		&--pink { background: #FF0099; }
		&--green { background: #60A13B; }
		
		@include mq(md){
			margin-bottom: 15px;
		}
	}
	
	&__h1 {
		margin: 0 0 5px;
		
		@include mq(md){
			margin-bottom: 30px;
		}
	}
	
	&__infoBox {
		display: block;
		
		@include mq(md){
			@include display-flex();
			@include align-items(center); 
			@include justify-content(space-between);
		}
	}
	
	&__description {
		margin: 0 0 15px;
		
		@include mq(md){
			width: 700px;
		}
	}
	
	&__subBox {
		width: auto;
		@include display-flex();
		@include justify-content(space-between);
		text-align: left;
		
		@include mq(md){
			width: 260px;
			text-align: right;
			display: block;
		}
	}
	
	&__icon-eye {
		margin: 0 5px 0 0;
	}
	
	&__date {
		text-align: right;
	}
}

/**************************
** contents
*/

.contents {
	padding: 0 0 15px;
	
	.contents__left,
	.contents__right{
		float: none;
	}
	
	@include mq(md){
		margin: 0 auto;
		padding: 0 0 30px;
		width: 980px;
		
		.contents__left {
			float: left;
			width: 640px;
		}

		.contents__right {
			float: right;
			width: 300px;
		}
	}
}

/**************************
** sideCnt
*/

.sideCnt {
	width: auto;
	
	@include mq(md){
		width: 300px;
	}
}

/**************************
** titleList
*/
.titleList {
	&__title {
		padding: 10px 15px;
		background: #EEE;
	}
	
	&__ul {
		li {
			display: block;
			border-bottom: 1px solid #EEE;
			
			a {
				display: block;
				padding: 10px;
				@include font-size(13);
			}
		}
	}
}

/**************************
** toc
*/
.toc {
	margin: 0 0 20px;
	background: #F6F6F6;
	
	@include mq(md){
		margin: 0 0 40px;
		border: 2px solid #eee;
		border-radius: 5px;
	}
	
	&__title {
		margin: 0 0 10px;
		padding: 5px 15px;
		background: #EEE;
		
		@include mq(md){
			padding: 10px 15px;
		}
	}
	
	ol{
		margin: 0;
		padding: 5px 10px 5px 30px;
		list-style: decimal;
		
		@include mq(md){
			padding: 10px 50px;
		}
		
		li{
			margin: 0 0 .5em;
			padding: 0;
			@include font-size(14);
			
			ol,ul{
				margin: 0;
				padding: 0;
				list-style: none;
				
				li {
					margin: 0;
					@include font-size(12);
					
					&:before {
						content: "－";
						display: inline-block;
						margin: 0 8px 0 0;
						color: #999;
					}
				}
			}
		}
	}
}

/**************************
** itemList
*/
.itemList {
	margin: 0 -15px 30px;
	
	@include mq(md){
		margin: 0 0 30px;
	}
	
	&__title {
		margin: 0 0 10px;
		@include font-size(18);
		font-weight: bold;
	}
	
	&__box {
		display: block;
		
		@include mq(md){
			@include display-flex();
			@include justify-content(space-between);
		}
	}
	
	&__main {
		margin: 0 0 2%;
		width: auto;
		border-radius: 5px;
		line-height: 1.4;
		
		@include mq(md){
			margin: 0 2% 0 0;
			width: 32%;
			border: 1px solid #DDD;
		}
		
		&:last-of-type {
			margin-left: 0;
		}
		
		a {
			display: block;	
			padding: 15px 15px 15px 100px;
			min-height: 100px;	
			position: relative;
			background: #F6F6F6;
			
			@include mq(md){
				padding: 15px;
			}
			
			&:hover {
				background: #eee;
			}
		}
	}
	
	&__img {
		position: absolute;
		left: 15px;
		top: 15px;
		width: 70px;
		text-align: center;
		
		@include mq(md){
			position: static;
			margin: 0 0 15px;
			width: auto;
		}
	}
	
	&__maker {
		margin: 0 0 5px;
		font-weight: bold;
		color: #333;
		@include font-size(10);
		
		@include mq(md){
			margin: 0;
		}
	}
	
	&__name {
		font-weight: bold;
		@include font-size(16);
	}
	
	&__price {
		margin: 0 0 5px;
		font-weight: bold;
		@include font-size(11);
	}
	
	&__num {
		display: inline-block;
		margin: 0 5px;
		@include font-size(18);
	}
	
	&__sub {
		color: #999;
		@include font-size(10);
	}
}

/**************************
** articleList
*/
.articleList {
	margin: 0 15px;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
	
	@include mq(md){
		margin: 0;
		padding: 30px 0;
	}
	
	&:first-child {
		border-top: 1px solid #eee;
	}
	
	&__title {
		margin: 0 0 5px;
		@include font-size(16);
		line-height: 1.4;
		text-decoration: underline;
		
		@include mq(md){
			margin: 0 0 10px;
		}
	}
	
	&__text {
		color: #333;
		@include font-size(11);
		line-height: 1.4;
	}
}