@charset "utf-8";
/* Sass Document */

/**************************
** blogBox
*/
.blogBox{
	
	> h2{
		margin: 0 0 35px;
		padding: 15px 5px;
		border-top: 3px solid #0FBA8F;
		border-bottom: 1px solid #DDD;
		color: #333;
		@include font-size(24);
		line-height: 1.4;
	}
	
	> h3{
		margin: 0 0 25px;
		padding: 5px 0 5px 20px;
		border-left: 3px solid #0FBA8F;
		color: #333;
		@include font-size(22);
		line-height: 1.4;
	}
	
	> h4{
		margin: 0 0 15px;
		padding: 10px 15px;
		@include font-size(16);
		line-height: 1.4;
		background: #EEE;
	}
	
	> p {
		margin: 0 0 30px;
		line-height: 1.9;
	}
	
	ul{
		margin: 0 0 30px;
		padding: 0 0 0 30px;
		
		li{
			margin: 0 0 10px;
			@include font-size(14);
			
			&:before {
				margin: 0 15px 0 0;
				@include icon;
				@include icon-check;
				color: #0FBA8F;
				@include font-size(13);
			}
		}
	}
	
	ol{
		margin: 0 0 20px;
		padding: 0 0 0 32px;
		
		li{
			list-style: decimal;
		}
	}
	
	strong {
		background: linear-gradient(transparent 60%, #ffff66 60%);
	}
	
	dl {
		margin: 30px 0;
		padding: 26px 20px 1px;
    	padding-bottom: 0;
		line-height: 1.9;
		border: 2px solid #0FBA8F;
		border-radius: 5px;
		
		dt {
			display: inline-block;
			background: #fff;
			padding: 0 10px;
			font-weight: bold;
			position: relative;
			top: -40px;
			color: #0FBA8F;
			
			&:before {
				margin: 0 10px 0 0;
				@include icon;
				@include icon-pen;
				@include font-size(20);
				color: #0FBA8F;
			}
		}
		
		dd {
			position: relative;
			top: -25px;
			margin-bottom: -30px;
			padding-left: 10px;
			@include font-size(14);
			
			p {
				margin: 0 0 20px;
				line-height: 1.9;
			}
		}
		
		&.dlCaution {
			border-color: #CE1616;
			
			dt {
				color: #CE1616;
				&:before {
					@include icon-caution;
					color: #CE1616;
				}
			}
		}
	}
	
	blockquote{
		position: relative;
		margin: 0 0 20px;
		padding: 30px 40px;
		border-radius: 5px;
		
		&:before{
			@include icon;
			@include icon-quotation;
			position: absolute;
			color: #DDD;
			top: 0;
			left: 20px;
			@include font-size(22);
		}
		
		p{
			margin: 0 0 10px;
			@include font-size(14);
		}
		
		small {
			display: block;
			text-align: right;
			@include font-size(11);
			color: #999999;
			
			a {
				color: #999999;
			}
			
			&:before {
				content: "引用元 - ";
			}
		}
	}
	
	.link-Blank{
		position: relative;
		display: inline-block;
		padding: 0 0 0 20px;
		vertical-align: middle;
			
		&:before{
			@include icon;
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			margin: -7px 8px 0 0;
			vertical-align: middle;
			font-size: 14px;
			color: #999;
			content: "\e9cb";
		}
		
		&:hover {
			text-decoration: none;
		}
	}
	
	table{
		margin: 0 0 20px;
		width: 100%;
		border: 1px solid #EEEEEE;
		background: #FFFFFF;
		border-collapse: collapse;
		
		th{
			padding: 1em;
			background: #EEEEEE;
			border-bottom: 1px solid #FFFFFF;
			font-weight: bold;
			text-align: left;
			line-height: 1.75;
			vertical-align: middle;
		}
		
		td{
			padding: 1em;
			border: 1px solid #EEEEEE;
			font-size: 14px;
			line-height: 1.75;
			vertical-align: middle;
		}
		
		.w10{ width: 10%; }
		.w20{ width: 20%; }
		.w30{ width: 30%; }
		.w40{ width: 40%; }
		.w50{ width: 50%; }
		.w60{ width: 60%; }
		.w70{ width: 70%; }
		.w80{ width: 80%; }
		.w90{ width: 90%; }
	}
}