@charset "utf-8";
/* Sass Document */

/**************************
** blogBox
*/

.blogBox {
	padding: 0 15px;
	
	@include mq(md){
		padding: 0;
	}
	
	> h2{
		margin: 0 -15px 20px;
		padding: 15px 5px;
		border-top: 3px solid #0FBA8F;
		border-bottom: 1px solid #DDD;
		color: #333;
		@include font-size(24);
		line-height: 1.4;
		
		@include mq(md){
			margin: 0 0 35px;
		}
	}
	
	> h3{
		margin: 0 0 15px;
		padding: 0 0 0 10px;
		border-left: 3px solid #0FBA8F;
		color: #333;
		@include font-size(22);
		line-height: 1.4;
		
		@include mq(md){
			margin: 0 0 25px;
			padding: 5px 0 5px 20px;
		}
	}
	
	> h4{
		margin: 0 0 15px;
		padding: 10px 15px;
		@include font-size(16);
		line-height: 1.4;
		background: #EEE;
	}
	
	> p {
		margin: 0 0 30px;
		@include font-size(13);
		line-height: 1.9;
	}
	
	ul{
		margin: 0 0 30px;
		padding: 0 0 0 30px;
		
		@include mq(md){
			padding: 0 0 0 60px;
		}
		
		li{
			margin: 0 0 10px;
			@include font-size(12);
			
			&:before {
				margin: 0 10px 0 -24px;
				@include icon;
				@include icon-check;
				color: #0FBA8F;
				@include font-size(13);
				
				@include mq(md){
					margin: 0 15px 0 -30px;
				}
			}
		}
	}
	
	ol{
		margin: 0 0 30px;
		padding: 0 0 0 26px;
		
		@include mq(md){
			padding: 0 0 0 50px;
		}
		
		li{
			margin: 0 0 10px;
			list-style: decimal;
			@include font-size(13);
		}
	}
	
	strong {
		background: linear-gradient(transparent 60%, #ffff66 60%);
	}
	
	dl {
		margin: 30px 0;
		padding: 26px 8px 1px;
    	padding-bottom: 0;
		line-height: 1.9;
		border: 1px solid #0FBA8F;
		border-radius: 5px;
		
		@include mq(md){
			padding: 26px 20px 1px;
			border: 2px solid #0FBA8F;
		}
		
		dt {
			display: inline-block;
			background: #fff;
			padding: 0 10px;
			font-weight: bold;
			position: relative;
			top: -40px;
			color: #0FBA8F;
			
			&:before {
				margin: 0 10px 0 0;
				@include icon;
				@include icon-pen;
				@include font-size(20);
				color: #0FBA8F;
			}
		}
		
		dd {
			position: relative;
			top: -25px;
			margin-bottom: -30px;
			padding-left: 10px;
			@include font-size(13);
			
			p {
				margin: 0 0 20px;
				line-height: 1.9;
			}
		}
		
		&.dlCaution {
			border-color: #CE1616;
			
			dt {
				color: #CE1616;
				&:before {
					@include icon-caution;
					color: #CE1616;
				}
			}
		}
	}
	
	blockquote{
		position: relative;
		margin: 0 0 20px;
		padding: 26px 20px;
		border-radius: 5px;
		
		@include mq(md){
			padding: 30px 40px;
		}
		
		&:before{
			@include icon;
			@include icon-quotation;
			position: absolute;
			color: #DDD;
			top: 0;
			left: 10px;
			@include font-size(22);
			
			@include mq(md){
				left: 20px;
			}
		}
		
		p{
			margin: 0 0 10px;
			@include font-size(14);
		}
		
		small {
			display: block;
			@include font-size(10);
			color: #999999;
			
			@include mq(md){
				text-align: right;
			}
			
			a {
				color: #999999;
			}
			
			&:before {
				display: block;
				content: "引用元 - ";
				
				@include mq(md){
					display: inline;
				}
			}
		}
	}
	
	.link-Blank{
		position: relative;
		display: inline-block;
		padding: 0 0 0 20px;
		vertical-align: middle;
			
		&:before{
			@include icon;
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			margin: -7px 8px 0 0;
			vertical-align: middle;
			font-size: 14px;
			color: #999;
			content: "\e9cb";
		}
		
		&:hover {
			text-decoration: none;
		}
	}
}

.blogBox #toc_container {
	> h2{
		margin: 0 -15px 20px;
		padding: 15px 5px;
		border-top: 3px solid #0FBA8F;
		border-bottom: 1px solid #DDD;
		color: #333;
		@include font-size(24);
		line-height: 1.4;
		
		@include mq(md){
			margin: 0 0 35px;
		}
	}
	
	> h3{
		margin: 0 0 15px;
		padding: 0 0 0 10px;
		border-left: 3px solid #0FBA8F;
		color: #333;
		@include font-size(22);
		line-height: 1.4;
		
		@include mq(md){
			margin: 0 0 25px;
			padding: 5px 0 5px 20px;
		}
	}
	
	> h4{
		margin: 0 0 15px;
		padding: 10px 15px;
		@include font-size(16);
		line-height: 1.4;
		background: #EEE;
	}
	
	> p {
		margin: 0 0 30px;
		@include font-size(13);
		line-height: 1.9;
	}
}